@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

.title-wrapper,
.menu,
.navbar li {
  opacity: 1;
}

.navbar {
  pointer-events: auto;
}

[data-reveal-text="wave"] {
  display: inline-block;
  overflow: hidden;
}

[data-reveal-text="slide"] {
  opacity: 0;
}

.reveal-letter {
  display: inline-block;
  transform: translateY(1.1em);
}
