---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HeroInfo from "../components/HeroInfo.astro";
import Experiences from "../components/Experiences.astro";
import Appetences from "../components/Appetences.astro";
import Contact from "../components/Contact.astro";
import Formations from "../components/Formations.astro";
import Passions from "../components/Passions.astro";
import FloatingContact from "../components/FloatingContact.astro";
---

<Layout title="Martin Kinoo · Développeur freelance">
  <main>
    <Hero />
    <HeroInfo />
    <Experiences />
    <Appetences />
    <Formations />
    <!-- <Passions /> -->
    <Contact />
    <div class="footer"></div>
    <span class="footer"
    >© 2024 · Design et Code par <b>Martin Kinoo</b> · Réalisé avec <a href="https://figma.com">Figma</a>, <a
        href="https://astro.build">Astro</a
      > et <a href="https://tailwindcss.com/">tailwindcss</a>.
    </span>
    <FloatingContact />
  </main>
</Layout>

<style>
  .footer {
    color: grey;
  }
  .footer a {
    text-decoration: underline;
  }
  main {
    margin: auto;
    padding: 1rem 32px;
    max-width: 1368px;
    line-height: 1.6;
  }
  span {
    display: block;
    margin: 36px 0;
  }

  @media screen and (max-width: 900px) {
    main {
      padding: 1rem 16px;
    }
  }
</style>
