---
import Layout from "@/layouts/Layout.astro";
import NavBar from "@/components/header/NavBar.astro";
import HeaderMenu from "@/components/header/HeaderMenu.astro";
import MobileMenu from "@/components/header/MobileMenu.astro";
import Hero from "@/components/hero/Hero.astro";
import Experiences from "@/components/sections/Experiences.astro";
import Contact from "@/components/contact/Contact.astro";
import Formations from "@/components/sections/Formations.astro";
import Realisations from "@/components/sections/Realisations.astro";
import FloatingContact from "@/components/contact/FloatingContact.astro";
import Footer from "@/components/footer/Footer.astro";
---

<Layout title="Martin Kinoo · Développeur Front-end freelance">
  <NavBar slot="header-nav" />
  <HeaderMenu slot="header-menu" />
  <MobileMenu slot="header-menu" />
  <script>
    import { revealSections } from "@/lib/animations/revealSection";
    import { revealCards } from "@/lib/animations/revealCard";
    import { onHeroAnimationComplete } from "@/lib/animations/onHeroAnimationComplete";

    onHeroAnimationComplete(() => {
      revealSections();
      revealCards();
    });
  </script>
  <main>
    <Hero />
    <Experiences />
    <Realisations />
    <Formations />
    <Contact />
    <Footer />
    <FloatingContact />
  </main>
</Layout>

<style>
  :global(.header .title-wrapper),
  :global(.menu),
  :global(.navbar li) {
    opacity: 0;
  }

  :global(.navbar) {
    pointer-events: none;
  }

  :global(body.hero-animation main > *:not(#hero)) {
    display: none;
  }

  :global([data-animate-section]:not(#hero)) {
    opacity: 0;
  }
  :global(main > section) {
    margin: var(--section-margin) 0;
  }

  main {
    margin: auto;
    padding: 1rem 32px;
    max-width: 1368px;
    line-height: 1.6;
  }
  @media screen and (max-width: 900px) {
    main {
      padding: 1rem 16px;
    }
  }
</style>
