---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HeroInfo from "../components/HeroInfo.astro";
import Experiences from "../components/Experiences.astro";
import Appetences from "../components/Appetences.astro";
import Contact from "../components/Contact.astro";
import Formations from "../components/Formations.astro";
import Passions from "../components/Passions.astro";
---

<Layout title="Martin Kinoo · Développeur freelance">
  <main>
    <Hero />
    <HeroInfo />
    <Experiences />
    <Appetences />
    <Formations />
    <Passions />
    <Contact />
    <span>© 2024 Martin Kinoo</span>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem 16px;
    max-width: 1368px;
    line-height: 1.6;
  }
  span {
    display: block;
    margin: 36px 0;
  }
</style>
