---
import ContactForm from "./ContactForm.tsx";
---

<section id="contact" data-animate-section>
  <h2>Collaborons ensemble !</h2>
  <div class="contact-content">
    <div class="contact-description">
      <p>
        Vous recherchez un développeur freelance pour donner vie à votre projet
        ou pour renforcer votre équipe technique ? Que ce soit pour un
        développement sur mesure, l'optimisation de vos systèmes existants, ou
        l'accompagnement technique de votre start-up, je suis à votre
        disposition.
      </p>
      <br />
      <p>
        Remplissez le formulaire ci-dessous en précisant les détails de votre
        projet ou les compétences recherchées. Je vous contacterai rapidement
        pour discuter de la meilleure manière de travailler ensemble et de
        transformer vos idées en réalité.
      </p>
    </div>
    <ContactForm
      client:load
      accessToken={import.meta.env.PUBLIC_WEB3FORMS_ACCESS_KEY}
    />
  </div>
</section>

<style>
  :root {
    --contact-h2-size: 32px;
  }

  section {
    margin: var(--section-margin) 0;
  }

  h2 {
    font-size: var(--contact-h2-size);
    font-weight: 400;
    color: #f6b17a;
  }

  .contact-content {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact-description {
    max-width: 466px;
  }

  @media screen and (max-width: 1200px) {
    :root {
      --contact-h2-size: 28px;
    }
    .contact-description {
      max-width: unset;
    }
  }

  @media screen and (max-width: 900px) {
    h2 {
      margin-bottom: 48px;
    }
  }

  @media screen and (max-width: 600px) {
    :root {
      --contact-h2-size: 22px;
    }
    h2 {
    }
  }
</style>
