.root {
  width: 100%;
  max-width: 630px;
  border-color: var(--color-surface-alt);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textareaWrapper {
  width: 100%;
}

.inputWrapper {
  width: 100%;
}

.inputWrapper label {
  display: block;
  margin: 6px 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.inputWrapper.invalid input,
.inputWrapper.invalid textarea {
  border-color: red;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputWrapper input {
  width: 100%;
  padding: 16px 20px;
}

.root textarea {
  min-height: 120px;
  padding: 16px 20px;
}

.actions {
  margin-top: 54px;
  display: flex;
  gap: 16px;
}

.root input {
  font-family: Outfit, system-ui, sans-serif;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  color: black;
  transition: all 0.06s ease;
  background-color: #e0e0e0;
}

.root input:focus {
  outline: none;
  background-color: #f3f2f0;
  border-color: var(--accent-color);
}

.root textarea {
  font-family: Outfit, system-ui, sans-serif;
  width: 100%;
  padding: 12px;
  color: black;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: #e0e0e0;
  font-size: 16px;
  transition: all 0.06s ease;
}

.root textarea:focus {
  outline: none !important;
  background-color: #f3f2f0;
  border-color: var(--accent-color);
}
