.root {
  width: 100%;
  max-width: 630px;
  border-color: var(--color-surface-alt);
}

.form {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 0.82rem + 0.75vw, 24px);
}

.textareaWrapper {
  width: 100%;
}

.inputWrapper {
  width: 100%;
}

.inputWrapper label {
  display: block;
  margin: 6px 0;
  font-size: var(--font-size);
  font-weight: 400;
  text-transform: capitalize;
}

.inputWrapper.invalid input,
.inputWrapper.invalid textarea {
  border-color: red;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 0.82rem + 0.75vw, 24px);
}

.inputWrapper input {
  width: 100%;
  padding: clamp(12px, 0.66rem + 0.38vw, 16px) clamp(16px, 0.91rem + 0.38vw, 20px);
}

.actions {
  margin-top: clamp(32px, 1.52rem + 2.07vw, 54px);
  display: flex;
  gap: clamp(16px, 0.82rem + 0.75vw, 24px);
}

.root input {
  font-family: Outfit, system-ui, sans-serif;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  color: black;
  transition: all 0.06s ease;
  background-color: #e0e0e0;
}

.root input:focus {
  outline: none;
  background-color: #f3f2f0;
  border-color: var(--accent-color);
}

.root textarea {
  font-family: Outfit, system-ui, sans-serif;
  width: 100%;
  min-height: 120px;
  padding: clamp(12px, 0.66rem + 0.38vw, 16px) clamp(16px, 0.91rem + 0.38vw, 20px);
  color: black;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: #e0e0e0;
  font-size: 16px;
  transition: all 0.06s ease;
}

.root textarea:focus {
  outline: none !important;
  background-color: #f3f2f0;
  border-color: var(--accent-color);
}
