---
import ContactForm from "./ContactForm.tsx";
---

<section id="contact" data-animate-section>
  <h2>Collaborons ensemble !</h2>
  <div class="contact-content">
    <div class="contact-description">
      <p>
        Vous recherchez un développeur freelance pour donner vie à votre projet
        ou pour renforcer votre équipe technique ? Que ce soit pour un
        développement sur mesure, l'optimisation de vos systèmes existants, ou
        l'accompagnement technique de votre start-up, je suis à votre
        disposition.
      </p>
      <br />
      <p>
        Remplissez le formulaire ci-dessous en précisant les détails de votre
        projet ou les compétences recherchées. Je vous contacterai rapidement
        pour discuter de la meilleure manière de travailler ensemble et de
        transformer vos idées en réalité.
      </p>
    </div>
    <ContactForm
      client:load
      accessToken={import.meta.env.PUBLIC_WEB3FORMS_ACCESS_KEY}
    />
  </div>
</section>

<style>
  :root {
    --contact-h2-size: 32px;
  }

  h2 {
    font-size: var(--contact-h2-size);
    font-weight: 400;
    color: #f6b17a;
  }

  .contact-content {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact-description {
    max-width: 466px;
  }

  @media screen and (max-width: 1200px) {
    :root {
      --contact-h2-size: 28px;
    }
    .contact-description {
      max-width: unset;
    }
  }

  @media screen and (max-width: 900px) {
    h2 {
      margin-bottom: 48px;
    }
  }

  @media screen and (max-width: 600px) {
    :root {
      --contact-h2-size: 22px;
    }
    h2 {
    }
  }
</style>

<style is:global>
  /* ContactForm, should not be here but have to rush */

  .about-contact {
    width: 100%;
    max-width: 630px;
    border-color: var(--color-surface-alt);
  }
  .about-contact h2 {
    color: var(--text-secondary-color);
    font-size: 28px;
    font-weight: 300;
    margin-top: 0;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .textarea-wrapper {
    width: 100%;
  }

  .input-wrapper {
    width: 100%;
  }

  .input-wrapper label {
    display: block;
    margin: 6px 0;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .input-wrapper.invalid input,
  .input-wrapper.invalid textarea {
    border-color: red;
  }

  textarea {
    min-height: 120px;
  }

  .contact-meta {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .input-wrapper input {
    width: 100%;
    padding: 16px 20px;
  }
  .about-contat textarea {
    padding: 16px 20px;
  }

  .about-contact .actions {
    margin-top: 54px;
    display: flex;
    gap: 16px;
  }

  input {
    font-family: Outfit, system-ui, sans-serif;
    border: 2px solid transparent;
    border-radius: 10px;

    font-size: 16px;
    color: black;
    transition: all 0.06s ease;
    background-color: #e0e0e0;
  }

  input:focus {
    outline: none;
    background-color: #f3f2f0;
    border-color: var(--accent-color);
  }

  textarea {
    font-family: Outfit, system-ui, sans-serif;
    width: 100%;
    padding: 12px;
    color: black;
    border-radius: 10px;
    border: 2px solid transparent;

    background-color: #e0e0e0;
    font-size: 16px;
    transition: all 0.06s ease;
  }

  textarea:focus {
    outline: none !important;
    background-color: #f3f2f0;
    border-color: var(--accent-color);
  }
</style>
