---
import terminal from "@/svgs/terminal.svg?raw";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <div class="header">
    <div class="header-left">
      <div class="title-wrapper">
        <a href="/" class="title anime">
          <div class="terminal-wrapper" aria-hidden="true">
            <Fragment set:html={terminal} />
          </div>
          Martin Kinoo
        </a>
        <ThemeToggle />
      </div>
      <slot name="nav" />
    </div>
    <div class="header-right">
      <slot />
    </div>
  </div>

  <style lang="scss">
    @use "@/styles/breakpoints" as *;

    :root {
      --header-font-size: 24px;
      --header-height: 120px;
    }

    header {
      display: flex;
      z-index: 900;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      width: 100%;
      height: var(--header-height);

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: var(--background-frosted);
        mask-image: linear-gradient(
          rgb(0, 0, 0) 50%,
          rgba(0, 0, 0, 0.8) 70%,
          rgba(0, 0, 0, 0) 100%
        );
        backdrop-filter: blur(30px);
        pointer-events: none;
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 24px;
      max-width: 1440px;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }

    .header-left {
      display: flex;
      flex: 1;
      align-items: center;
      gap: 16px;
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-left: 24px;
    }

    .title-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    a.title {
      text-decoration: none;
      font-size: var(--header-font-size);
      font-weight: 300;
    }

    .terminal-wrapper {
      margin-top: 6px;
    }

    @include ultrawide {
      :root {
        --header-font-size: 22px;
      }
    }

    @include mobile {
      :root {
        --header-font-size: 18px;
      }

      :root {
        --header-height: 80px;
      }

      header {
        height: var(--header-height);
      }

      .header {
        margin: 0 12px;
      }
    }
  </style>
</header>

<script>
  import { initHeader } from "@/lib/animations/headerAnime";

  document.addEventListener("astro:page-load", initHeader);
  initHeader();
</script>
