---
import HeaderLink from "./HeaderLink.astro";
import Button from "@/components/shared/atoms/Button";
import github from "@/svgs/github.svg?raw";
---

<div class="header-menu">
  <HeaderLink href="/design-system" label="Design System" variant="badge" />
  <HeaderLink href="MartinKinooCV.pdf" label="CV" variant="badge" external />
  <HeaderLink href="https://github.com/KinooYume" label="GitHub" external>
    <Fragment set:html={github} />
  </HeaderLink>
  <Button href="/#contact">Discutons ensemble</Button>
</div>

<style>
  .header-menu {
    display: flex;
    align-items: center;
    opacity: 0;
    gap: 24px;
  }

  @media screen and (max-width: 1100px) {
    .header-menu {
      display: none;
    }
  }
</style>
