---
import Button from "@/components/shared/atoms/Button";
import ThemeToggle from "./ThemeToggle.astro";
---

<div class="header-menu">
  <ThemeToggle />
  <Button href="/#contact">Discutons ensemble</Button>
</div>

<style lang="scss">
  @use "@/styles/breakpoints" as *;

  .header-menu {
    display: flex;
    align-items: center;
    gap: 24px;
    opacity: 0;
  }

  @include wide {
    .header-menu {
      display: none;
    }
  }
</style>
