---
import terminal from "@/svgs/terminal.svg?raw";
---

<header>
  <div class="header">
    <div class="header-left">
      <div class="title-wrapper">
        <a href="/" class="title anime">
          <div class="terminal-wrapper">
            <Fragment set:html={terminal} />
          </div>
          Martin Kinoo
        </a>
      </div>
      <slot name="nav" />
    </div>
    <slot />
  </div>

  <style>
    :root {
      --header-font-size: 24px;
    }

    header {
      display: flex;
      z-index: 900;
      align-items: center;
      justify-content: center;
      position: sticky;
      top: 0;
      width: 100%;
      height: 120px;
      background-color: var(--background-frosted);
      mask-image: linear-gradient(
        rgb(0, 0, 0) 50%,
        rgba(0, 0, 0, 0.8) 70%,
        rgba(0, 0, 0, 0) 100%
      );
      backdrop-filter: blur(30px);
    }

    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 24px;
      max-width: 1440px;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }

    .header-left {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .title-wrapper {
      display: flex;
      align-items: center;
      opacity: 0;
    }

    a.title {
      text-decoration: none;
      font-size: var(--header-font-size);
      font-weight: 200;
    }

    .terminal-wrapper {
      margin-top: 6px;
    }


    @media screen and (max-width: 1368px) {
      :root {
        --header-font-size: 22px;
      }
    }

    @media screen and (max-width: 600px) {
      :root {
        --header-font-size: 18px;
      }

      header {
        height: 80px;
      }

      .header {
        margin: 0 12px;
      }
    }
  </style>
</header>

<script>
  import { showHeaderImmediate } from "@/lib/animations/headerAnime";

  const hasHero = !!document.getElementById("hero");
  if (!hasHero) {
    showHeaderImmediate();
  }
</script>
