---
import IconButton from "@/components/shared/atoms/IconButton.astro";
import BurgerIcon from "@/components/shared/atoms/BurgerIcon.astro";
---

<div class="mobile-menu-trigger">
  <IconButton id="mobile-menu-trigger" label="Toggle navigation menu">
    <BurgerIcon />
  </IconButton>
</div>

<style lang="scss">
  @use "@/styles/breakpoints" as *;

  .mobile-menu-trigger {
    display: none;
    align-items: center;
  }

  @include wide {
    .mobile-menu-trigger {
      display: flex;
    }
  }
</style>
