---
import type { Card } from "./SimpleCards.astro";
import SimpleCards from "./SimpleCards.astro";

const appetences: Card[] = [
  {
    title: "Programmation Fonctionelle",
    content:
      "Passionné par la programmation fonctionnelle, j'apprécie sa capacité à rendre le code plus prévisible, modulaire et maintenable. C'est une approche qui me permet d'apporter de la clarté et de la robustesse à chaque projet sur lequel je travaille.",
    image: "/images/lambda.png",
  },
  {
    title: "UI/UX",
    subtitle: "Et l'ergonomie",
    content:
      " J'accorde une grande importance à l'expérience utilisateur. Je suis capable d'implémenter ou de concevoir des interfaces simples, intuitives et agréables à utiliser. J'apprécie particulièrement les retours d'utilisateurs pour améliorer mes créations et les rendre toujours plus efficaces.",
    image: "/images/ui_ux.png",
  },
  {
    title: "Gamification",
    subtitle: "ou ludofication",
    content:
      "Le jeu peut être un puissant levier pour engager les utilisateurs et les motiver à atteindre leurs objectifs. Je suis curieux d'explorer et intégrer des mécanismes de jeu de manière subtile et efficace dans les applications que je conçois.",
    image: "images/gamification.png",
  },
];
---

<section id="appetences">
  <span class="subtitle">Mes</span>
  <h2>Appétences</h2>
  <SimpleCards cards={appetences} />
</section>
