---
import type { Card } from "./SimpleCards.astro";
import SimpleCards from "./SimpleCards.astro";

const appetences: Card[] = [
  {
    title: "Programmation Fonctionelle",
    content:
      "Passionné par la programmation fonctionnelle, j'apprécie sa capacité à rendre le code plus prévisible, modulaire et maintenable. C'est une approche qui me permet d'apporter de la clarté et de la robustesse à chaque projet sur lequel je travaille.",
    image: "/images/lambda.png",
  },
  {
    title: "UI/UX",
    subtitle: "Et l'ergonomie",
    content:
      "J'aime concevoir des interfaces intuitives qui ne se contentent pas d'être belles, mais qui offrent également une expérience utilisateur fluide et engageante. Mon objectif est de créer des designs qui rendent la navigation naturelle et plaisante, en plaçant toujours l'utilisateur au cœur du processus.",
    image: "/images/ui_ux.png",
  },
  {
    title: "Gamification",
    subtitle: "holalala",
    content:
      "Fasciné par la gamification, j'aime intégrer des éléments ludiques dans les applications pour rendre l'expérience utilisateur plus interactive et motivante.",
    image: "images/gamification.png",
  },
];
---

<section id="appetences">
  <span class="subtitle">Mes</span>
  <h2>Appétences</h2>
  <SimpleCards cards={appetences} />
</section>
