<div class="card">
  <div class="content"><div class="title">
    <slot name="title" />
  </div>
    <slot /></div>
  <div class="marge">
    <slot name="marge" />
  </div>
</div>

<style>
  .card {
    display: flex;
    justify-content: space-between;
    padding: 56px;
  }

  .title {

  }

  .content {
  }

  .title,
  .content {
    max-width: 450px;
    margin-bottom: 52px;
  }n
  .marge {
    padding: 0 24px;
  }
</style>
