---
type Props = {
  reverse?: boolean;
};

const { reverse } = Astro.props;
const hasGallery = Astro.slots.has("gallery");
---

{
  hasGallery ? (
    <div
      class:list={[
        "card",
        "card--gallery",
        "gradient-border-card",
        { reverse },
      ]}
    >
      <div class="title" data-animate-elem>
        <slot name="title" />
      </div>
      <div class="description" data-animate-elem>
        <slot name="description" />
      </div>
      <div class="gallery" data-animate-elem>
        <slot name="gallery" />
      </div>
    </div>
  ) : (
    <div class="card gradient-border-card">
      <div class="content">
        <div class="title-wrapper" data-animate-elem>
          <div class="title" data-animate-elem>
            <slot name="title" />
          </div>
          <div class="marge" data-animate-elem>
            <slot name="marge" />
          </div>
        </div>
        <div />
        <div data-animate-elem>
          <div class="text">
            <slot name="description" />
          </div>
          <slot />
        </div>
      </div>
    </div>
  )
}

<style>
  .card {
    padding: 48px;
    cursor: auto;
  }

  /* Default variant */
  .card:not(.card--gallery) {
    display: flex;
    justify-content: space-between;
    --duration: 12s;
  }

  .content {
    width: 100%;
  }

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    margin-bottom: 24px;
  }

  .text {
    margin-bottom: 32px;
  }

  /* Gallery variant */
  .card--gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(0, auto));
    grid-column-gap: 64px;
    grid-row-gap: 32px;
    --duration: 16s;

    > .title {
      grid-area: 1 / 1 / 2 / 2;
    }

    > .description {
      grid-area: 2 / 1 / 3 / 2;
    }

    > .gallery {
      margin-top: auto;
      grid-area: 1 / 2 / 3 / 3;
    }
  }

  @media screen and (min-width: 1100px) {
    .card--gallery.reverse {
      > .title {
        grid-area: 1 / 2 / 2 / 3;
      }
      > .description {
        grid-area: 2 / 2 / 3 / 3;
      }
      > .gallery {
        grid-area: 1 / 1 / 3 / 2;
      }
    }
  }

  @media screen and (max-width: 1100px) {
    .card--gallery {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, minmax(0, auto));
      grid-row-gap: 36px;

      > .title {
        grid-area: 1 / 1 / 2 / 2;
      }
      > .gallery {
        grid-area: 2 / 1 / 3 / 2;
      }
      > .description {
        grid-area: 3 / 1 / 4 / 2;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .text {
      padding: 0;
    }
    .card {
      padding: 36px 24px;
    }
  }
</style>
