---
import message from "@/svgs/message.svg?raw";
---

<a id="floating-contact" class="primary" href="#contact">
  <div class="icon-wrapper">
    <Fragment set:html={message} />
  </div>
</a>
<script>
  import { onScrollAndResize } from "@/lib/dom/onWindowEvent";
  import {
    createViewDetection,
    anchorsQueryToViewDetectionElement,
  } from "@/lib/dom/viewDetection";

  function hideContactWhenSectionVisible() {
    const targets = anchorsQueryToViewDetectionElement("#floating-contact", {
      onInside: (el) => el.classList.add("current"),
      onOutside: (el) => el.classList.remove("current"),
    });

    const checkVisibility = createViewDetection(targets, {
      setOffset: (height) => height,
      setBounds: (offset) => [offset, 0],
    });

    onScrollAndResize(checkVisibility);
  }

  window.addEventListener("load", hideContactWhenSectionVisible);
</script>

<style>
  a {
    display: none;
  }

  .floating-contact:hover {
    transform: translateY(-4px);
  }

  .floating-contact:active {
    transform: translateY(5px);
    transition: 200ms;
  }

  @media screen and (max-width: 600px) {
    a {
      position: sticky;
      z-index: 300;
      bottom: 36px;
      right: 12px;
      margin-left: auto;
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
    }
    .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
    }
    a.current {
      pointer-events: none;
      opacity: 0;
    }
  }
</style>
