---
import Card from "./Card.astro";
---

<section id="formations">
  <span class="subtitle">Mes</span>
  <h2>Formations</h2>
  <div class="grid">
    <div class="epitech">
      <Card
        ><div class="title" slot="title">
          <h3>Master Epitech</h3>
          <span>Epitech</span>
        </div>
        <img slot="marge" src="images/epitech.png" alt="epitech" />
        <p>
          À travers des projets concrets et une approche par la pratique, j'ai
          acquis une solide maîtrise des langages de programmation. Epitech m'a
          également permis de développer une forte capacité d'autonomie, de
          résolution de problèmes et d'innovation, des compétences essentielles
          pour évoluer dans le domaine du développement web et logiciel.
        </p>
      </Card>
    </div>
    <div class="manipal">
      <Card
        ><div class="title" slot="title">
          <h3>Student Exchange</h3>
          <span>Manipal</span>
        </div>

        <img slot="marge" src="images/manipal.png" alt="manipal" />
        <p>1 année à l’etranger, etc..</p>
        <p>1 année à l’etranger, etc..</p>
        <p>1 année à l’etranger, etc..</p>
        <p>1 année à l’etranger, etc..</p>
      </Card>
    </div>
    <div class="derniercri">
      <Card
        ><div class="title" slot="title">
          <h3>Développeur RubyOnRails<span>Stage</span></h3>
          <span>DernierCri</span>
        </div>
        <img slot="marge" src="images/derniercri.png" alt="derniercri" />
        <p>Blablabla</p>
        <p>Blablabla</p>
        <p>Blablabla</p>
      </Card>
    </div>
    <div class="eurotunel">
      <Card
        ><div class="title" slot="title">
          <h3>Stagiaire développeur Angular<span>Stage</span></h3>
          <span>Eurotunel</span>
        </div>
        <img slot="marge" src="images/eurotunnel.png" alt="eurotunnel" />
        <p>Blablabla</p>
        <p>Blablabla</p>
      </Card>
    </div>
  </div>
</section>

<style>
    :root {
      --formation-font-size: 16px;
      --formation-h3-size: 14px;
    }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 26px;
    grid-row-gap: 26px;
  }

  .grid div {
    background-color: #2d2e3b;
    border-radius: 32px;
  }

  .epitech {
    grid-area: 1 / 2 / 2 / 2;
  }

  .manipal {
  }

  .derniercri {
    grid-area: 1/1/2/2;
  }

  .eurotunel {
    grid-area: 2/1/2/2;
  }

  h3 {
    display: flex;
    align-items: flex-end;
    gap: 12px;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 54px;
  }

  .title p {
    margin: 0;
  }

  .title span,
  .title a {
    font-size: var(--formation-font-size);
    font-weight: 400;
    color: rgba(143, 143, 151, 0.7);
  }

  .title a + span:before,
  .title span + span:before {
    content: "·";
    padding: 0 6px;
  }

  .title h3 span {
    font-size: var(--formation-h3-size);
    border-radius: 6px;
    padding: 5px 6px;
    /* color: var(--color); */
    /* background-color: rgba(143, 143, 151, 0.7); */
    color: black;
    background-color: var(--accent-color);
  }

  @media screen and (max-width: 1200px) {
      .grid {
        display: flex;
        flex-direction: column;
      }
  }
</style>
