---
import Card from "./Card.astro";
import H3Tagged from "./H3Tagged.astro";

const tailwindCard =
  "[background:linear-gradient(45deg,#172033,theme(colors.slate.800)_50%,#172033)_padding-box,conic-gradient(from_var(--border-angle),theme(colors.slate.600/.48)_80%,_theme(colors.slate.600/.48)_86%,_theme(colors.slate.600/.48)_90%,_theme(colors.slate.600/.48)_94%,_theme(colors.slate.600/.48))]";
---

<section id="formations" data-animate-section>
  <span class="subtitle">Mes</span>
  <h2>Formations</h2>
  <div class="grid">
    <div class=`epitech ${tailwindCard}` data-animate-card>
      <Card
        ><div class="title" slot="title">
          <H3Tagged title="Master Epitech" tag="Bac+5" />
          <p>
            <a
              href="https://epitech.eu"
              rel="noreferrer nofollow noopener"
              target="_blank">Epitech</a
            >
            <span class="dotted">Lille</span>
            <span>2013-2018</span>
          </p>
        </div>
        <img
          loading="lazy"
          slot="marge"
          src="images/epitech.png"
          alt="epitech"
        />
        <p>
          À travers des projets concrets et une approche par la pratique, j'ai
          acquis une solide maîtrise des langages de programmation. Epitech m'a
          également permis de développer une forte capacité d'autonomie, de
          résolution de problèmes et d'innovation, des compétences essentielles
          pour évoluer dans le domaine du développement web et logiciel.
        </p>
      </Card>
    </div>
    <div class=`manipal ${tailwindCard}` data-animate-card>
      <Card
        ><div class="title" slot="title">
          <H3Tagged title="Student Exchange" tag="1 an" />
          <p>
            <a
              href="https://www.manipal.edu/mit"
              rel="noreferrer nofollow noopener"
              target="_blank">Manipal MIT</a
            >
            <span class="dotted">Manipal (India)</span>
            <span>2017</span>
          </p>
        </div>

        <img
          loading="lazy"
          slot="marge"
          src="images/manipal.png"
          alt="manipal-logo"
        />
        <p slot="description">
          Année académique passée à Manipal, Inde, où j'ai pu améliorer
          considérablement mon niveau d'anglais grâce à un environnement
          multiculturel et des échanges quotidiens avec des étudiants du monde
          entier.
        </p>
      </Card>
    </div>
    <div class=`derniercri ${tailwindCard}` data-animate-card>
      <Card
        ><div class="title" slot="title">
          <H3Tagged title="Dév. RubyOnRails" tag="Stage" />
          <p>
            <a
              href="https://derniercri.fr"
              rel="noreferrer nofollow noopener"
              target="_blank">DernierCri</a
            >
            <span class="dotted">Lille</span>
            <span>2016 (4 mois)</span>
          </p>
        </div>
        <img
          loading="lazy"
          slot="marge"
          src="images/derniercri.png"
          alt="derniercri"
        />
        <ul>
          <li>
            Service en Ruby de conversion de fichier markdown en html/pdf/epub
            basé sur Pandoc.
          </li>
          <li>Développement backend en Ruby On Rails.</li>
        </ul>
      </Card>
    </div>
    <div class=`eurotunel ${tailwindCard}` data-animate-card>
      <Card
        ><div class="title" slot="title">
          <H3Tagged title="Dév. Angular" tag="Alternance" />
          <p>
            <a
              href="https://www.leshuttle.com/"
              rel="noreferrer nofollow noopener"
              target="_blank">Eurotunnel</a
            >
            <span class="dotted">Calais</span>
            <span>2015/2016 (6 mois)</span>
          </p>
        </div>
        <img
          loading="lazy"
          slot="marge"
          src="images/eurotunnel.png"
          alt="eurotunnel"
        />
        <p slot="description">
          Dans le cadre de la construction d'une documentation plus avancée
          décrivant les "bonnes pratiques" au seins du développement à
          Eurotunnel, j'ai réalisé une documentation complète par l'exemple sur
          l'ergonomie et le design.
        </p>
      </Card>
    </div>
  </div>
</section>

<style>
  :root {
    --formation-font-size: 16px;
  }

  #formations {
    --accent-color: #9c85d3;
    --secondary-accent-color: #c9bce6;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(0, auto));
    grid-column-gap: 26px;
    grid-row-gap: 26px;
  }

  .grid > div {
    background-color: var(--card-background-color);
    border: 1px solid #313d50 !important;

    box-sizing: border-box;
    border-radius: 32px;
  }

  a {
    text-decoration: underline;
  }

  ul {
    list-style: initial;
    margin-left: 24px;
  }
.epitech { grid-area: 1 / 1 / 2 / 4; }
.manipal { grid-area: 2 / 1 / 3 / 2; }
.derniercri { grid-area: 2 / 2 / 3 / 3; }
.eurotunel { grid-area: 2 / 3 / 3 / 4; } 
  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title p {
    margin: 0;
  }

  .title span,
  .title a {
    display: inline-block;
    font-size: var(--formation-font-size);
    font-weight: 400;
    color: rgba(143, 143, 151, 0.7);
  }

  .title .dotted:after,
  .title .dotted:before {
    content: "·";
    padding: 0 6px;
  }

  @media screen and (max-width: 1200px) {
    .grid {
      display: flex;
      flex-direction: column;
    }
  }

  /* also for formations */
  @media screen and (max-width: 900px) {
    :root {
      --formation-font-size: 16px;
    }

    .title {
      gap: 2px;
    }
  }

  @media screen and (max-width: 600px) {
    :root {
      --formation-font-size: 14px;
    }
  }
  @media screen and (max-width: 460px) {
    img {
      display: none;
    }
  }
</style>
