---
import Card from "./Card.astro";
---

<section id="formations">
  <span class="subtitle">Mes</span>
  <h2>Formations</h2>
  <div class="grid">
    <div class="epitech">
      <Card
        ><div class="title" slot="title">
          <div class="title-container">
            <h3>Master Epitech</h3>
          </div>
          <p>
            <a
              href="https://epitech.eu"
              rel="noreferrer nofollow noopener"
              target="_blank">Epitech</a
            >
            <span class="dotted">Lille</span>
            <span>2013-2018</span>
          </p>
        </div>
        <img slot="marge" src="images/epitech.png" alt="epitech" />
        <p>
          À travers des projets concrets et une approche par la pratique, j'ai
          acquis une solide maîtrise des langages de programmation. Epitech m'a
          également permis de développer une forte capacité d'autonomie, de
          résolution de problèmes et d'innovation, des compétences essentielles
          pour évoluer dans le domaine du développement web et logiciel.
        </p>
      </Card>
    </div>
    <div class="manipal">
      <Card
        ><div class="title" slot="title">
          <div class="title-container"><h3>Student Exchange</h3></div>
          <p>
            <a
              href="https://www.manipal.edu/mit"
              rel="noreferrer nofollow noopener"
              target="_blank">Manipal MIT</a
            >
            <span class="dotted">Manipal (India)</span>
            <span>2017</span>
          </p>
        </div>

        <img slot="marge" src="images/manipal.png" alt="manipal" />
        <p>1 année à l’etranger, etc..</p>
        <p>1 année à l’etranger, etc..</p>
        <p>1 année à l’etranger, etc..</p>
        <p>1 année à l’etranger, etc..</p>
      </Card>
    </div>
    <div class="derniercri">
      <Card
        ><div class="title" slot="title">
          <div class="title-container">
            <h3>Développeur RubyOnRails</h3><span>Stage</span>
          </div>
          <p>
            <a
              href="https://derniercri.fr"
              rel="noreferrer nofollow noopener"
              target="_blank">DernierCri</a
            >
            <span class="dotted">Lille</span>
            <span>2016 (4 mois)</span>
          </p>
        </div>
        <img slot="marge" src="images/derniercri.png" alt="derniercri" />
        <p>Blablabla</p>
        <p>Blablabla</p>
        <p>Blablabla</p>
      </Card>
    </div>
    <div class="eurotunel">
      <Card
        ><div class="title" slot="title">
          <div class="title-container">
            <h3>Développeur Angular</h3><span>Alternance</span>
          </div>
          <p>
            <a
              href="https://www.leshuttle.com/"
              rel="noreferrer nofollow noopener"
              target="_blank">Eurotunnel</a
            >
            <span class="dotted">Calais</span>
            <span>2015/2016 (6 mois)</span>
          </p>
        </div>
        <img slot="marge" src="images/eurotunnel.png" alt="eurotunnel" />
        <p>Blablabla</p>
        <p>Blablabla</p>
      </Card>
    </div>
  </div>
</section>

<style>
  :root {
    --formation-font-size: 16px;
    --formation-span-size: 14px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 26px;
    grid-row-gap: 26px;
  }

  .grid div {
    background-color: var(--card-background-color);
    border-radius: 32px;
  }

  .epitech {
    grid-area: 1 / 2 / 2 / 2;
  }

  .manipal {
  }

  .derniercri {
    grid-area: 1/1/2/2;
  }

  .eurotunel {
    grid-area: 2/1/2/2;
  }

  .title-container {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title p {
    margin: 0;
  }

  .title span,
  .title a {
    display: inline-block;
    font-size: var(--formation-font-size);
    font-weight: 400;
    color: rgba(143, 143, 151, 0.7);
  }

  .title .dotted:after,
  .title .dotted:before {
    content: "·";
    padding: 0 6px;
  }

  .title-container h3 {
    padding-bottom: 3px;
  }
  .title-container span {
    font-size: var(--formation-span-size);
    border-radius: 6px;
    padding: 3px 6px;
    /* color: var(--color); */
    /* background-color: rgba(143, 143, 151, 0.7); */
    color: black;
    background-color: var(--accent-color);
  }

  @media screen and (max-width: 1200px) {
    .grid {
      display: flex;
      flex-direction: column;
    }
  }

  /* also for formations */
  @media screen and (max-width: 900px) {
    :root {
      --formation-font-size: 16px;
      --formation-span-size: 12px;
    }

    .title {
      gap: 2px;
    }
  }

  @media screen and (max-width: 600px) {
    :root {
      --formation-font-size: 14px;
      --formation-span-size: 12px;
    }
    .title-container span {
      padding: 0 6px;
    }
  }
  @media screen and (max-width: 460px) {
    img {
      display: none;
    }
  }
</style>
