---
import Tag from "../components/Tag.astro";
import React from "../svgs/react.svg?raw";
import Vue from "../svgs/vue.svg?raw";
import Svelte from "../svgs/svelte.svg?raw";
import Next from "../svgs/next.svg?raw";
import Rescript from "../svgs/rescript.svg?raw";
import Node from "../svgs/node.svg?raw";
import Ts from "../svgs/ts.svg?raw";
import Go from "../svgs/go.svg?raw";

type TagProps = {
  title: string;
  icon?: string;
};

const techs: TagProps[] = [
  { title: "Typescript", icon: Ts },
  { title: "React.js", icon: React },
  { title: "Next.js", icon: Next },
  { title: "Vue.js", icon: Vue },
  { title: "Svelte", icon: Svelte },
  { title: "Rescript", icon: Rescript },
  { title: "Node.js", icon: Node },
  { title: "Golang", icon: Go },
  { title: "... et plus !" },
];
---

<section id="hero">
  <div class="main">
    <div class="content">
      <div class="title">
        <span>Développeur Web Freelance</span>
        <h1>Martin Kinoo</h1>
      </div>
      <p>
        Je transforme vos idées en application intuitives et performantes. Que
        ce soit pour des projets front-end ou fullstack, je vous accompagne avec
        expertise et créativité pour donner vie à votre vision.
      </p>
      <ul>
        {
          techs.map((tech) => (
            <li>
              <Tag title={tech.title} icon={tech.icon} />
            </li>
          ))
        }
      </ul>
    </div>
    <img class="image" src="images/profil2.png" alt="martin kinoo" />
  </div>
</section>

<style>
  :root {
    --hero-font-size: 20px;
    --hero-span-size: 36px;
  }
  .content {
    /* display: flex; */
    /* flex-direction: column; */
  }

  .main {
    display: flex;
    justify-content: space-between;
  }
  span {
    margin: 0;
    font-size: var(--hero-span-size);
    font-weight: 100;
    color: var(--accent-color);
  }

  h1 {
    font-size: var(--h1-size);
    line-height: 90px;
    margin: 0;
    font-weight: 200;
    color: var(--color);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    max-width: 750px;
  }

  p {
    font-size: var(--hero-font-size);
    font-weight: 200;
  }

  #hero {
    margin-top: 92px;
  }

  img {
    margin: auto 0;
  }

  @media screen and (max-width: 1368px) {
    :root {
      --hero-font-size: 18px;
      --hero-span-size: 34px;
    }
  }
  @media screen and (max-width: 1145px) {
    img {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    :root {
      --hero-span-size: 28px;
    }
    h1 {
      line-height: 1;
    }

    #hero {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 450px) {
    :root {
      --hero-span-size: 24px;
    }
  }

</style>
