<section id="hero-info">
  <div>
    <h2>Frontend</h2>
    <p>
      Spécialisé en développement front-end, je transforme vos maquettes en
      expériences web fluides et performantes. Mon objectif : allier code propre
      et design responsive pour sublimer vos projets en ligne.
    </p>
  </div>
  <div>
    <h2>Fullstack</h2>
    <p>
      J'assure la conception et l'implémentation complète de vos projets web, du
      back-end robuste au front-end performant. En combinant des technologies
      modernes et une architecture bien pensée, je crée des solutions fiables,
      évolutives, et optimisées pour vos besoins.
    </p>
  </div>
  <div>
    <h2>Soft Skills</h2>
    <p>
      Curieux et adaptable, je m'efforce de comprendre vos besoins pour
      collaborer efficacement. Avec un esprit d'équipe et une communication
      claire, je m'assure que chaque projet avance sereinement.
    </p>
  </div>
</section>

<style>
  :root {
    --heroinfo-font-size: 18px;
    --heroinfo-h2-size: 28px;
  }

  section {
    border: 1px solid #2d2e3b;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    flex-wrap: wrap;
    padding: 48px 72px;
  }

  section div {
    max-width: 350px;
  }

  h2 {
    font-size: var(--heroinfo-h2-size);
    font-weight: 200;
    color: white;
    margin-bottom: 48px;
  }

  p {
    font-weight: 200;
    color: #8f8f97;
    font-size: var(--heroinfo-font-size);
  }

  @media screen and (max-width: 1368px) {
    :root {
      --heroinfo-font-size: 18px;
      --heroinfo-h2-size: 28px;
    }
    section div {
      max-width: 46%;
    }
  }
  @media screen and (max-width: 900px) {
    :root {
      --heroinfo-font-size: 18px;
      --heroinfo-h2-size: 28px;
    }
    section {
      padding: 48px 24px;
    }
    section div {
      max-width: unset;
    }
  }

  @media screen and (max-width: 600px) {
    :root {
      --heroinfo-font-size: 16px;
      --heroinfo-h2-size: 24px;
    }
  }
</style>
