---
import Tag from "../components/Tag.astro";
import HeroSubtitle from "./HeroSubtitle.astro";
import React from "../svgs/react.svg?raw";
import Vue from "../svgs/vue.svg?raw";
import Svelte from "../svgs/svelte.svg?raw";
import Next from "../svgs/next.svg?raw";
import Rescript from "../svgs/rescript.svg?raw";
import Node from "../svgs/node.svg?raw";
import Ts from "../svgs/ts.svg?raw";
import Go from "../svgs/go.svg?raw";

type TagProps = {
  title: string;
  icon?: string;
};

// Stars
// https://codepen.io/bob6664569/pen/rOzmve
//
// Cut effect
// https://codepen.io/dtab428/pen/GmoMYG
//
// Moving letters
// https://tobiasahlin.com/moving-letters/?utm_source=bypeople
const techs: TagProps[] = [
  { title: "Typescript", icon: Ts },
  { title: "React.js", icon: React },
  { title: "Next.js", icon: Next },
  { title: "Vue.js", icon: Vue },
  { title: "Svelte", icon: Svelte },
  { title: "Rescript", icon: Rescript },
  { title: "Node.js", icon: Node },
  { title: "Golang", icon: Go },
  { title: "CI/CD" },
  { title: "... et plus !" },
];
---

<script src="./heroAnime.ts"></script>
<!-- <script src="./parallax.js"></script> -->
<!-- <script src="./particles.js"></script> -->
<section id="hero">
  <div class="main">
    <div class="content">
      <div class="title">
        <!-- <canvas id="particle-canvas"></canvas> -->
        <HeroSubtitle subtitle="Développeur Front-end Freelance" />
        <h1><span>Martin</span> <span>Kinoo</span></h1>
      </div>
      <div class="description">
        <p>Hello ! 👋</p>
        <br />
        <p>
          Vous cherchez un développeur web pour votre prochain projet ? Je suis
          là !
        </p>
        <p>
          Avec plus de 4 ans d’expérience professionnelle en développement <b
            >front-end</b
          > et <b>fullstack</b>, je suis toujours à la recherche de nouvelles
          technologies à explorer et à les mettre en œuvre dans des projets
          concrets.
        </p>
        <p>
          Et quand je ne suis pas en train de coder, vous me trouverez
          probablement en train de tester un nouveau clavier ergonomique ⌨️ ou a
          dessiner 🎨.
        </p>
        <br />
        <p>Envie d'en savoir plus ? C'est par ici ! 👇</p>
      </div>
      <ul>
        {
          techs.map((tech) => (
            <li>
              <Tag title={tech.title} icon={tech.icon} />
            </li>
          ))
        }
      </ul>
    </div>
    <img loading="lazy" class="image hero-image" src="images/profil.jpg" alt="martin kinoo" />
  </div>
</section>

<style>
  :root {
    --hero-font-size: 20px;
    --hero-span-size: 36px;
  }

  .title {
  }
  /* #particle-canvas { */
  /*   position: absolute; */
  /*   left: 0; */
  /*   opacity: 0.2; */
  /*   width: 100%; */
  /*   height: 100vh; */
  /*   vertical-align: middle; */
  /* } */
  .content, .hero-image {
    /* display: flex; */
    /* flex-direction: column; */
  }

  .main {
    display: flex;
    justify-content: space-between;
    /* transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)); */
    /* transform-style: preserve-3d; */
    /* transition: transform 1.5s cubic-bezier(0.05, 0.5, 0, 1); */
    /* will-change: transform; */
  }

  h1 {
    font-size: var(--h1-size);
    line-height: 90px;
    margin: 0;
    font-weight: 200;
    color: var(--color);
  }

  h1 span {
    opacity: 0;
    display: inline-block;
  }
  .description p {
    opacity: 0;
  }
  .description p + p {
    margin-top: 8px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: space-between;
    max-width: 750px;
  }

  p {
    font-size: var(--hero-font-size);
    font-weight: 200;
  }

  #hero {
    margin-top: 32px;
  }

  img {
    margin: auto 0;
    opacity: 0;
  }

  @media screen and (max-width: 1368px) {
    :root {
      --hero-font-size: 18px;
      --hero-span-size: 34px;
    }
  }
  @media screen and (max-width: 1145px) {
    img {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    :root {
      --hero-span-size: 28px;
      --hero-font-size: 16px;
    }
    h1 {
      line-height: 1;
    }

    #hero {
      margin-top: 32px;
    }
    .content {
      gap: 64px;
    }
  }

  @media screen and (max-width: 450px) {
    :root {
      --hero-span-size: 24px;
    }
  }

  @media screen and (max-width: 430px) {
    :root {
      --hero-span-size: 20px;
    }
  }
  @media screen and (max-width: 340px) {
    :root {
      --hero-span-size: 18px;
    }
  }
</style>
