---
const tailwindBorder =
  "[background:linear-gradient(45deg,#172033,theme(colors.background)_50%,#172033)_padding-box,conic-gradient(from_var(--border-angle),theme(colors.slate.600/.48)_80%,_theme(colors.accent.normal)_86%,_theme(colors.accent.bright)_90%,_theme(colors.accent.normal)_94%,_theme(colors.slate.600/.48))_border-box] rounded-2xl border border-transparent animate-border";
---

<section id="hero-info" class={tailwindBorder}>
  <div>
    <h2>Front-end</h2>
    <p>
      Spécialisé en développement front-end, je suis doté d'un sens aigu du
      détail et motivé par l'optimisation des performances. Je crée des
      expériences web fluides et intuitives, en utilisant les dernières
      technologies.
    </p>
  </div>
  <div>
    <h2>Fullstack</h2>
    <p>
      Polyvalant, je suis à l'aise avec les différentes couches d'une
      application web. Je suis capable de contribuer à tous les aspects d'un
      projet, du front-end au back-end, en collaborant étroitement avec les
      autres membres de l'équipe.
    </p>
  </div>
  <div>
    <h2>Soft Skills</h2>
    <p>
      Curieux et adaptable, je m'efforce de comprendre vos besoins pour
      collaborer efficacement. Avec un esprit d'équipe et une communication
      claire, je m'assure que chaque projet avance sereinement, en appliquant
      les bonnes pratiques pour garantir un résultat optimal et évolutif.
    </p>
  </div>
</section>

<style>
  :root {
    --heroinfo-font-size: 18px;
    --heroinfo-h2-size: 28px;
  }

  section {
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    flex-wrap: wrap;
    padding: 48px 72px;
  }

  section div {
    max-width: 350px;
    transition: transform 0.3s;
  }

  section div:hover {
    transform: scale(1.02);
  }

  h2 {
    font-size: var(--heroinfo-h2-size);
    font-weight: 200;
    color: white;
    margin-bottom: 28px;
  }

  p {
    font-weight: 200;
    color: #8f8f97;
    font-size: var(--heroinfo-font-size);
  }

  @media screen and (max-width: 1368px) {
    :root {
      --heroinfo-font-size: 18px;
      --heroinfo-h2-size: 28px;
    }
    section div {
      max-width: 46%;
    }
  }
  @media screen and (max-width: 900px) {
    :root {
      --heroinfo-font-size: 18px;
      --heroinfo-h2-size: 28px;
    }
    section {
      padding: 48px 24px;
    }
    section div {
      max-width: unset;
    }
  }

  @media screen and (max-width: 600px) {
    :root {
      --heroinfo-font-size: 16px;
      --heroinfo-h2-size: 24px;
    }
  }
</style>
