<ul class="navbar">
  <li><a class="anime nav" href="#experiences">Expériences</a></li>
  <li><a class="anime nav" href="#realisations">Réalisations</a></li>
  <li><a class="anime nav" href="#formations">Formations</a></li>
</ul>

<script>
  import { onScrollAndResize } from "@/lib/dom/onWindowEvent";
  import {
    createViewDetection,
    anchorsQueryToViewDetectionElement,
  } from "@/lib/dom/viewDetection";

  function highlightNavOnSectionVisible() {
    const targets = anchorsQueryToViewDetectionElement(".navbar a", {
      onInside: (el) => el.classList.add("current"),
      onOutside: (el) => el.classList.remove("current"),
    });

    const checkVisibility = createViewDetection(targets);

    onScrollAndResize(checkVisibility);
  }

  window.addEventListener("load", highlightNavOnSectionVisible);
</script>

<style>
  ul {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  li {
    opacity: 0;
  }
  a {
    display: block;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 200;
    color: var(--color);
    text-decoration: none;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
  }

  a.current {
    backgrond-color: var(--color);
    opacity: 1;
  }

  @media screen and (max-width: 980px) {
    ul {
      display: none;
    }
  }
</style>
