<ul class="navbar">
  <li><a class="anime" href="#experiences">Expériences</a></li>
  <li><a class="anime" href="#realisations">Réalisations</a></li>
  <li><a class="anime" href="#appetences">Appétences</a></li>
  <li><a class="anime" href="#formations">Formations</a></li>
</ul>

<script>
  import { anchorDetection, setupAnchorDetection } from "../anchorDetection";

  function navbarAnchor() {
    const sectionDetection = anchorDetection({
      query: ".navbar a",
      onVisible: (el : HTMLElement) => el.classList.add("current"),
      onHidden: (el : HTMLElement) => el.classList.remove("current"),
    });
    setupAnchorDetection({ name: "navbar", fn: sectionDetection });
  }

  window.addEventListener("load", navbarAnchor);
</script>

<style>
  ul {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  a {
    display: block;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 200;
    color: var(--color);
    text-decoration: none;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
  }

  a.current {
    backgrond-color: var(--color);
    opacity: 1;
  }

  @media screen and (max-width: 980px) {
    ul {
      display: none;
    }
  }
</style>
