<ul class="navbar">
  <li><a class="anime" href="#experiences">Expériences</a></li>
  <li><a class="anime" href="#appetences">Appétences</a></li>
  <li><a class="anime" href="#formations">Formations</a></li>
  <li><a class="anime" href="#passions">Passions</a></li>
</ul>

<script>
  import { anchorDetection } from "../anchorDetection";

  window.onload = () => anchorDetection({
    query: ".navbar a",
    onVisible: (el) => el.classList.add("current"),
    onHidden: (el) => el.classList.remove("current")
  });
</script>

<style>
  ul {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  a {
    display: block;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 200;
    color: var(--color);
    text-decoration: none;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
  }

  a.current {
    opacity: 1;
  }

  @media screen and (max-width: 950px) {
    ul {
      display: none;
    }
  }
</style>
