<div class="spotlight-wrapper">
  <div class="card">
    <!-- Radial gradient -->
    <div class="radial-gradient" aria-hidden="true">
      <div class="radial-blur"></div>
    </div>
    <div class="card-content">
      <!-- Image -->
      <div class="image-wrapper">
        <slot name="image" />
      </div>
      <!-- Text -->
      <div class="text-wrapper">
        <slot name="content" />
      </div>
    </div>
  </div>
</div>

<style>
  .spotlight-wrapper {
    position: relative;
    height: 100%;
    background-color: #1e293b;
    border-radius: 1.5rem;
    padding: 1px;
    overflow: hidden;
  }

  .spotlight-wrapper::before,
  .spotlight-wrapper::after {
    content: "";
    position: absolute;
    background-color: #f8ba88;
    border-radius: 9999px;
    opacity: 0;
    pointer-events-none;
    transition: opacity 500ms;
    transform: translateX(var(--mouse-x)) translateY(var(--mouse-y));
  }

  .spotlight-wrapper::before {
    width: 20rem;
    height: 20rem;
    left: -10rem;
    top: -10rem;
    z-index: 10;
    filter: blur(100px);
  }

  .spotlight-wrapper::after {
    width: 24rem;
    height: 24rem;
    left: -12rem;
    top: -12rem;
    z-index: 30;
    filter: blur(100px);
  }

  :global(.group):hover .spotlight-wrapper::before {
    opacity: 1;
  }

  .spotlight-wrapper:hover::after {
    opacity: 0.1;
  }

  .card {
    position: relative;
    height: 100%;
    background: linear-gradient(45deg, #172033, #1e293b 50%, #172033) padding-box,
      conic-gradient(
          from var(--border-angle),
          rgba(71, 85, 105, 0.48) 80%,
          rgba(71, 85, 105, 0.48) 86%,
          rgba(71, 85, 105, 0.48) 90%,
          rgba(71, 85, 105, 0.48) 94%,
          rgba(71, 85, 105, 0.48)
        );
    padding: 1.5rem;
    padding-bottom: 2rem;
    border-radius: inherit;
    z-index: 20;
    overflow: hidden;
  }

  .radial-gradient {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    pointer-events-none;
    z-index: -10;
    width: 50%;
    aspect-ratio: 1;
  }

  .radial-blur {
    position: absolute;
    inset: 0;
    background-color: #1e293b;
    border-radius: 9999px;
    filter: blur(80px);
  }

  .card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
  }

  .image-wrapper {
    position: relative;
    display: inline-flex;
  }

  .text-wrapper {
    flex: 1;
    margin-bottom: 1.25rem;
  }

  @media screen and (max-width: 900px) {
    .card {
      padding: 0;
    }
  }
</style>
