---
// https://cruip.com/how-to-create-a-spotlight-card-hover-effect-with-tailwind-css/

const tailwindCard =
  "[background:linear-gradient(45deg,#172033,theme(colors.slate.800)_50%,#172033)_padding-box,conic-gradient(from_var(--border-angle),theme(colors.slate.600/.48)_80%,_theme(colors.slate.600/.48)_86%,_theme(colors.slate.600/.48)_90%,_theme(colors.slate.600/.48)_94%,_theme(colors.slate.600/.48))]";
---

<!-- Card 1 -->
<div
  class="relative h-full bg-slate-800 rounded-3xl p-px before:absolute before:w-80 before:h-80 before:-left-40 before:-top-40 before:bg-accent-normal before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:group-hover:opacity-100 before:z-10 before:blur-[100px] after:absolute after:w-96 after:h-96 after:-left-48 after:-top-48 after:bg-accent-normal after:rounded-full after:opacity-0 after:pointer-events-none after:transition-opacity after:duration-500 after:translate-x-[var(--mouse-x)] after:translate-y-[var(--mouse-y)] after:hover:opacity-10 after:z-30 after:blur-[100px] overflow-hidden"
>
  <div
    class=`card relative h-full ${tailwindCard} p-6 pb-8 rounded-[inherit] z-20 overflow-hidden`
  >
    <!-- Radial gradient -->
    <div
      class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/2 aspect-square"
      aria-hidden="true"
    >
      <div
        class="absolute inset-0 translate-z-0 bg-slate-800 rounded-full blur-[80px]"
      >
      </div>
    </div>
    <div class="flex flex-col h-full items-start">
      <!-- Image -->
      <div class="relative inline-flex">
        <slot name="image" />
      </div>
      <!-- Text -->
      <div class="grow mb-5">
        <slot name="content" />
      </div>
    </div>
  </div>
</div>

<style>
  @media screen and (max-width: 900px) {
    .card {
      padding: 0;
    }
  }
</style>
