---
interface Props {
  title: string;
  icon?: string;
  hero?: boolean;
  highlight?: boolean;
}

const { hero, title, icon, highlight } = Astro.props;
---

<div class=`tag ${ hero ? "hero-tag" : "show"} ${highlight ? "highlight" :""}`>
  {icon && <Fragment set:html={icon} />}
  <span>{title}</span>
</div>

<style is:global>
  .tag svg {
    width: 16px;
    height: 16px;
  }
</style>

<style>
  :root {
    --span-tag-size: 16px;
  }
  @media screen and (max-width: 1368px) {
    :root {
      --span-tag-size: 16px;
    }
  }
  div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 18px;
    border-radius: 12px;
    background-color: #1c2739;
  }

  div.highlight {
    border: 1px solid var(--accent-color);
  }
  span {
    font-size: var(--span-tag-size);
    font-weight: 200;
  }
  .tag:not(.hero-tag) {
    background-color: #313d50;
  }
  .tag {
    opacity: 0;
  }
  .tag.show {
    opacity: 1;
  }
</style>
