<footer>
  <p>
    Design et Code par <b>Martin Kinoo</b> · Réalisé avec <a
      href="https://astro.build">Astro</a
    >, <a href="https://www.solidjs.com">SolidJS</a> et <a
      href="https://animejs.com">Anime.js</a
    >.
  </p>
</footer>

<style>
  footer {
    opacity: 0.8;
  }
  footer a {
    text-decoration: underline;
  }
  footer p {
    font-size: 15px;
    display: block;
    margin: 36px 0;
  }
</style>
