---
import Tag from "./Tag.astro";

type Props = {
  title: string;
  tag: string;
};

const { title, tag } = Astro.props;
---

<div>
  <h3>{title}</h3>
  <Tag title={tag} badge size="small" />
</div>

<style lang="scss">
  @use "@/styles/breakpoints" as *;

  div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
  }

  h3 {
    font-size: var(--h3-size);
    color: var(--secondary-accent-color);
    line-height: 1;
    margin: 0;
    padding-bottom: 3px;

    :global(html[data-theme="light"]) & {
      color: var(--accent-bright);
    }
  }

  @include tablet {
    h3 {
      line-height: 1.2;
    }
  }
</style>
