---
type Props = {
  title: string;
  tag: string;
};

const { title, tag } = Astro.props;
---

<div>
  <h3>{title}</h3>
  <span>{tag}</span>
</div>

<style lang="scss">
  @use "@/styles/breakpoints" as *;

  :root {
    --experience-span-size: 14px;
  }

  div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
  }

  h3 {
    font-size: var(--h3-size);
    color: var(--secondary-accent-color);
    line-height: 1;
    margin: 0;
    padding-bottom: 3px;
  }

  span {
    font-size: var(--experience-span-size);
    border-radius: 6px;
    padding: 2px 6px;
    color: black;
    background-color: var(--accent-color);
  }

  @include tablet {
    :root {
      --experience-span-size: 12px;
    }
    h3 {
      line-height: 1.2;
    }
  }

  @include mobile {
    .title-container span {
      padding: 0 6px;
    }
  }
</style>
