---
/**
 * TagLink Component Documentation
 * Design System - Atom
 */
import TagLink from "./TagLink.astro";
import DSBlock from "@/components/design-system/DSBlock.astro";
import DSPreview from "@/components/design-system/DSPreview.astro";
import DSCode from "@/components/design-system/DSCode.astro";
import DSPropsTable from "@/components/design-system/DSPropsTable.astro";
---

<section id="taglink">
  <h2>TagLink</h2>
  <p class="atomic-label">Atom</p>
  <p>External links with an icon indicator, opens in a new tab.</p>

  <DSBlock title="Default">
    <DSPreview>
      <TagLink href="https://github.com" text="View on GitHub" />
    </DSPreview>
    <DSCode inline>href="https://github.com" text="View on GitHub"</DSCode>
  </DSBlock>

  <DSBlock title="Props">
    <DSPropsTable
      headers={["Prop", "Type", "Default", "Description"]}
      rows={[
        [{ code: "href" }, "string", "required", "URL to link to"],
        [{ code: "text" }, "string", "required", "Link text"],
      ]}
    />
  </DSBlock>
</section>
