---
import type { PageMapBlock } from "./types";
import DiagramPageMapBlock from "./DiagramPageMapBlock.astro";

interface Props {
  blocks: PageMapBlock[];
}

const { blocks } = Astro.props;
---

<div class="pagemap">
  {blocks.map((block) => (
    <DiagramPageMapBlock block={block} />
  ))}
</div>

<style>
  .pagemap {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
</style>
