---
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
// Cool modern effetcs
// https://codepen.io/dtab428/pen/GRPVQXR
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <script>
      import Spotlight from "../spotlight.js";

      const spotlights = document.querySelectorAll(".simple-cards");
      spotlights.forEach((spotlight) => {
        new Spotlight(spotlight);
      });
    </script>
  </body>
</html>

<style is:global>
  @property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
  }
  :root {
    --background-color: #181927;
    --background-frosted: rgba(24, 25, 39, 0.05);
    --color: #e0e0e0;
    --light-color: #f6f5f7;
    --extra-light-color: #f6f5f7;

    --border-angle: 360deg;
    --accent-color: #f8ba88;
    --accent-brigth: #f6b17a;

    --card-first-background-color: #2d2d3b;
    --card-alt-background-color: #1c2638;

    --card-background-color: var(--card-alt-background-color);

    --h1-size: 96px;

    --h2-size: 38px;
    --h3-size: 24px;
    --subtitle-size: 22px;
    --font-size: 18px;
    --button-font-size: 15px;

    --section-margin: 142px;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit/Outfit-ExtraLight.ttf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit/Outfit-Light.ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit/Outfit-Thin.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit/Outfit-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit/Outfit-Regular.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit/Outfit-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit/Outfit-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit/Outfit-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  html {
    box-sizing: border-box;
    font-family: Outfit, system-ui, sans-serif;
    background: var(--background-color);
    color: var(--color);
    scroll-behavior: smooth;

    scroll-padding-top: 126px;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-weight: 300;
    line-height: 1;
    font-size: var(--h2-size);
    margin: 0;
    margin-bottom: 64px;
  }

  h3 {
    font-size: var(--h3-size);
    font-weight: 400;
    color: var(--accent-color);
    margin: 0;
    line-height: 1;
  }

  .subtitle {
    color: var(--accent-color);
    font-weight: 200;
    font-size: var(--subtitle-size);
    margin: 0;
  }

  p {
    font-size: var(--font-size);
    font-weight: 200;
    line-height: 1.4;
    color: var(--light-color);
  }

  b {
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a.primary,
  button {
    border: none;
    display: inline-block;
    border-radius: 12px;
    transition: all 0.3s ease;
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
  }

  a.primary,
  button.primary {
    font-size: var(--button-font-size);
    font-weight: 500;
    color: black;
    background-color: var(--accent-brigth);
    text-transform: capitalize;
  }

  a.primary {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  a.anime {
    transition: all 0.3s ease;
  }
  button.primary:hover,
  a.primary:hover,
  a.anime:hover,
  button.secondary:hover {
    transform: translateY(-4px);
  }

  button.primary:active,
  a.primary:active,
  a.anime:active,
  button.secondary:active {
    transform: translateY(5px);
    transition: 200ms;
  }
  a svg path, a.cv {
    opacity: 0.8;
  }
  a:hover svg path, a:hover.cv {
    opacity: 1;
  }

  section {
    margin: var(--section-margin) 0;
  }

  @media screen and (max-width: 1368px) {
    :root {
      --h1-size: 92px;

      --h2-size: 48px;
      --h3-size: 24px;
      --subtitle-size: 24px;
      --font-size: 18px;
      --button-font-size: 15px;

      --section-margin: 192px;
    }
  }

  @media screen and (max-width: 900px) {
    :root {
      --h1-size: 86px;

      --h2-size: 44px;
      --h3-size: 20px;
      --subtitle-size: 20px;
      --font-size: 16px;
      --button-font-size: 15px;

      --section-margin: 148px;
    }
  }
  @media screen and (max-width: 600px) {
    :root {
      --h1-size: 64px;
      --h2-size: 36px;
      --h3-size: 18px;

      --section-margin: 94px;
    }
    html {
      scroll-padding-top: 92px;
    }
  }
  @media screen and (max-width: 450px) {
    :root {
      --h1-size: 48px;
    }
  }
</style>
