<div class="card gradient-border-card"><slot /></div>

<style>
  .card {
    padding: 48px;
    cursor: auto;
  }

  @media screen and (max-width: 900px) {
    .card {
      padding: 36px 24px;
    }
  }
</style>
