<div class="card gradient-border-card"><slot /></div>

<style>
  .card {
    padding: 48px;
    cursor: auto;
    height: 100%;
    --card-title-font-size: 16px;
  }

  .card :global(.card-description ul) {
    list-style: initial;
    margin-left: 24px;
  }

  @media screen and (max-width: 900px) {
    .card {
      padding: 24px;
    }
  }

  @media screen and (max-width: 600px) {
    .card {
      --card-title-font-size: 14px;
    }
  }
</style>
