<div class="card gradient-border-card"><slot /></div>

<style>
  .card {
    padding: clamp(24px, 0.79rem + 2.53vw, 48px);
    cursor: auto;
    height: 100%;
    --card-title-font-size: clamp(14px, 0.82rem + 0.21vw, 16px);
  }

  .gradient-border-card {
    position: relative;
    padding: clamp(24px, 0.79rem + 2.53vw, 40px);
    flex: 1 1;
    transition:
      background 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    box-shadow:
      0 0 0 1px transparent,
      0 2px 4px transparent,
      0 12px 24px transparent;
    cursor: pointer;
    border-radius: 32px;
    height: 100%;
    z-index: 1;
  }

  .card :global(.card-description ul) {
    list-style: initial;
    margin-left: 0;
    padding-left: 1.2em;
  }

</style>
